<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    <h1>List of All Students</h1>

    <table border="1" cellpadding="5">
        <tr>
            <td><p><b>First Name</b></p></td>
            <td><p><b>Last Name</b></p></td>
            <td><p><b>Email</b></p></td>
            <td><p><b>Phone Number</b></p></td>
            <td><p><b>School</b></p></td>

        </tr>

        <!--iterate through all the Students-->
        <th:block th:each="s:${allstudents}">
            <tr>
                <td><p th:text="${s.firstName}"></p></td>
                <td><p th:text="${s.lastName}"></p></td>
                <td><p th:text="${s.emailAddress}"></p></td>
                <td><p th:text="${s.phoneNumber}"></p></td>
                <td><p th:text="${s.school}"></p></td>
            </tr>
        </th:block>
    </table>

    <div>
        <p><a href="/">Home</a></p>
        <p><a href="/enterStudent">Add New Student</a></p>
    </div>


</body>
</html>